<div>
  <div class="page-container" style="background-image: url({{section.settings.image | img_url: 'master' }}); background-color: {{ section.settings.color_bg }};">
    <div class="content-container">
      <img class="header-logo" src="{{ 'drSchollslogo.png' | asset_url }}" style="display: none;">
      <h1>{{ section.settings.header_text }}</h1>
      <h5 class="sub-heading">{{ section.settings.para_text }}</h5>
      <div class="button-container" style="text-align: center;">
        <a class="primary-button" href="#">{{ section.settings.button_cta }}</a>
      </div>
      <div class="bottom-icon text-center" style="cursor: pointer;">
        <img src={{ section.settings.bottom_arrow | img_url : 'master' }}>
      </div>
    </div>
  </div>
  {%- assign limit = section.settings.products | times: section.settings.rows -%}
  {%- assign totalProducts = collection.products.size -%}
  <div class="collection-template" data-section-id="{{ section.id }}" data-section-type="collection-template">
    <header class="section-header select-filter-spacing">
          <div class="negHeader"></div>
          <div state="closed" class="filterBar">
            <h6 class="filterBar-text">Browse by:&nbsp;&nbsp;&nbsp;<em>All shoe types</em> {{ 'filter-down.png' | asset_url | img_tag }}</h6>
            <div class="filterCard" style="display: none;">
              <div class="filterCard-item" filter="casual">{{ 'shoe-casual.png' | asset_url | img_tag }}<p class="filter-text">Casual Sneakers</p></div>
              <div class="filterCard-item" filter="athletic">{{ 'shoe-athletic.png' | asset_url | img_tag }}<p class="filter-text">Athletic Shoes</p></div>
              <div class="filterCard-item" filter="dress">{{ 'shoe-dress.png' | asset_url | img_tag }}<p class="filter-text">Dress Shoes</p></div>
              <div class="filterCard-item" filter="narrow">{{ 'shoe-narrow.png' | asset_url | img_tag }}<p class="filter-text">Narrow Toe</p></div>
              <div class="filterCard-item" filter="work">{{ 'shoe-work.png' | asset_url | img_tag }}<p class="filter-text">Work Boots</p></div>
            </div>
          </div>
          </header>
    <!-- {% paginate collection.products by limit %} -->

    {% if section.settings.collection_hero_image and collection.image %}
      <div class="section-header-image-wrapper">
        <div class="section-header-image{% if section.settings.collection_hero_image_parallax %} section-header-image--parallax{% endif %} lazyload" data-bgset="{% include 'bgset', image: collection.image %}"></div>

        <noscript>
          <div class="section-header-image" style="background-image: {{ collection.image | img_url: 'master' }}"></div>
        </noscript>
      </div>
    {% endif %}

    <div class="page-width">


      {%- assign desktopColumns = section.settings.products -%}
      {%- assign mobileColumns = '1' -%}

      {%- capture gridClasses -%}
        {% if desktopColumns == '3' and totalProducts > 2 %}medium-up--one-third {% else %}medium-up--one-half {% endif %}
        {% if mobileColumns == '2' %}small--one-half {% endif %}
      {%- endcapture -%}

      <div class="card-list grid" data-desktop-columns="{{ desktopColumns }}" data-mobile-columns="{{ mobileColumns }}" data-grid-style="{{ section.settings.grid_style }}">
        <div class="card-list__column{% if totalProducts == 1 %} card-list__column--center{% endif %} grid grid__item {{ gridClasses }}">
          {% for product in collection.products %}
            {% include 'product-card', product: product, grid_style: section.settings.grid_style, button_text: section.settings.button_text %}
          {% endfor %}
        </div>
      </div>

      {% if collection.products.size == 0 %}
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}

      {% if paginate.pages > 1 %}
        <div class="card-list__sub-actions">
          {% include 'pagination' %}
        </div>
      {% endif %}
    </div>

    <!-- {% endpaginate %} -->
  </div>
</div>

<style>
  .page-container {
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .content-container {
    margin-top: 100px;
  }

  .content-container h1, .content-container h5 {
      text-align: center;
      color: #ffffff;
      max-width: unset !important;
      width: unset !important;
      padding: 0 20px;
      text-shadow: 0 3px 16px rgba(0,0,0,0.06), 0 3px 16px rgba(0,0,0,0.13);
  }

  .content-container h5 {
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .content-container .create-mine-btn {
    background: white;
    border: none;
    color: #004A97;
    font-size: 16px;
    cursor: pointer;
  }

  .button-container {
    text-align: center;
  }

  .button-container a.primary-button {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    border: none !important;
    border-radius: 4px;
    width: 240px;
    height: 50px;
    background: #004A97;
    text-align: center;
    font-weight: 600;
    font-family: Poppins;
    letter-spacing: 0px;
    line-height: 50px;
    transition: background .3s ease-out;
  }

  .button-container a.primary-button:hover {
    background: #6993C1;
  }

  .button-container img {
    width: 75px;
  }

  .site-header__logo-wrapper a {
    width: 100px;
  }

  .site-header__logo-wrapper a img {
    height: auto;
  }

  h2.card__name {
    margin-bottom: 20px;
  }

  /* For screen min width 1025px */
  @media only screen and (min-width: 1025px) {
    .content-container {
      width: 750px;
    }

    .bottom-icon {
      padding-top: 50px;
    }
  }

  @media only screen and (min-width: 1025px) and (max-width: 1170px) {
    .highlight-image-container {
      flex: 0 0 600px !important;
    }
  }

  /* For screen width 600px to 1024px */
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* .header-logo {
      display: block !important;
      width: 65px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
    } */

    .content-container h1, .content-container p {
      /*max-width: 550px;*/
      padding: 0;
    }

    .content-container {
      width: 550px;
    }

    .page-container {
      height: 476px;
    }

    .bottom-icon {
      padding-top: 50px;
    }
  }

  @media only screen and (min-width: 300px) and (max-width: 599px) {
    .content-container {
      width: 310px;
    }

    .bottom-icon {
      padding-top: 20px;
    }
  }
</style>

<script type="text/javascript">
$( document ).ready(function() {
  $('.button-container .primary-button').click(function() {
    $('html, body').animate({
      scrollTop: $('.featured-collection').offset().top - 130
    });
  });

  $('.bottom-icon img').click(function() {
    $('html, body').animate({
      scrollTop: $('.featured-collection').offset().top - 130
    });
  });

  $(".filterCard-item").click(function() {
       var filter = $(this).attr("filter");
       var scrolled = false;
       var filterClose = '{{ 'filter-x.png' | asset_url }}';
       $(".filterBar-text").html("Browsing by <em>" + $(this).children().text() + "</em> " + "<img src=" + filterClose + ">");
       $(".filterCard").slideUp(100, function() {
           $(".filterBar").attr("state", "selection");
       });
       $(".productCard").each(function(index) {
           var filterList = $(this).attr("filter").split(" ");

           if ($.inArray(filter, filterList) == -1) {
               $(this).fadeTo("fast", 0.25);
           } else {
               if (!scrolled) {
                   $('html, body').animate({
                       scrollTop: ($(this).offset().top - 150)
                   }, 500);

                   scrolled = true;
               }
           }
       });
   });
   $(".filterBar").click(function() {
       var state = $(".filterBar").attr("state");
       var filterDown = '{{ 'filter-down.png' | asset_url }}';
       if (state == "selection") {
           $(".productCard").fadeTo("fast", 1);
           $(".filterBar").attr("state", "closed");
           $(".filterBar-text").html("Browse by <em>all shoe types</em> " + "<img src=" + filterDown + ">");
       }
       if (state == "closed") {
           $(".filterCard").slideDown(100);
           $(".filterBar").attr("state", "open");
           // $(".filterBar-text").html("Browse by <em>all shoe types</em> <img src='img/filter-up.png'>");
       }
       if (state == "open") {
           $(".filterCard").slideUp(100);
           $(".filterBar").attr("state", "closed");
           // $(".filterBar-text").html("Browse by <em>all shoe types</em> <img src='img/filter-down.png'>");
       }
   });


   $("#shop_btn").click(function() {
       var state = $(".filterBar").attr("state");
       $(".filterCard").slideUp(100);
       if (state == "open") {
         $(".filterBar").attr("state", "closed");
       }
   });

   // Put as many as you want, separated by commas
   $(".product__select-insert, .productCard").click(function () {
       resetPage();
   });

   function resetPage() {
       // This is in a timeout function so that it does not do anything while the app pushes to the next view
       setTimeout(function() {
           $(".filterCard").slideUp(100);
           $(".filterBar").attr("state", "closed");
           $(".productCard").fadeTo("fast", 1);

           var filterDown = '{{ 'filter-down.png' | asset_url }}';
           $(".filterBar-text").html("Browse by <em>all shoe types</em> " + "<img src=" + filterDown + ">");
           $('#drawer').addClass('closed');
           $("#shop_btn").removeAttr("disabled").fadeTo('fast', 1);
           $('.shopify-section').not('.drawer-section').fadeTo('fast', 1);
           $('html, body').animate({
               scrollTop: (0)
           }, 10);
       }, 600);
   }

   $(window).scroll(function() {
      var filterBarPosition = $('#shopify-section-DRS-placeholder-home .page-container').height() - $('.site-header__wrapper').height();
     var fixedNavHeight = $('.filterBar').outerHeight();

      if ($(window).scrollTop() > filterBarPosition - 25) {
        $('.filterBar').addClass('filterBar-fixed');
        $('#shopify-section-DRS-placeholder-home').css({ 'padding-bottom': fixedNavHeight + "px" });
//         $('.featured-collection.collection-template').addClass('scroll-down');
      }
      else {
        $('.filterBar').removeClass('filterBar-fixed');
        $('#shopify-section-DRS-placeholder-home').css({ 'padding-bottom': '0' });
//         $('.featured-collection.collection-template').removeClass('scroll-down');
      }
       // if ($(window).scrollTop() > $('#shopify-section-DRS-placeholder-home').height() - 50) {
        //   $('.filterBar').addClass('filterBar-fixed');
        //   $('.collection-template').css("padding-top", "50px");
       //
        //   var state = $(".filterBar").attr("state");
        //   $(".filterCard").slideUp(100);
        //   if (state == "open") {
        //     $(".filterBar").attr("state", "closed");
        //   }
        //   //$(".negHeader").finish().fadeTo('fast',0);
       // }
       // if ($(window).scrollTop() < $('#shopify-section-wiivv-row').height()) {
        //   $('.filterBar').removeClass('filterBar-fixed');
        //   $('#shopify-section-collection-template').css("padding-top", "0");
        //   //$(".negHeader").finish().fadeTo('fast',0);
       // }
   });
});

</script>


{% schema %}
  {
    "name": "Section name",
    "settings": [
  {
    "type": "text",
        "id": "header_text",
        "label": "Header text",
        "default": "Find your Solemate"
      },
  {
    "type": "text",
        "id": "para_text",
        "label": "Para text",
        "default": "(Coming soon)"
      },
  {
    "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
	{
        "type": "color",
        "id": "color_bg",
        "label": "Background color",
        "default": "#EEDE88"
      },
	{
    "type": "text",
        "id": "button_cta",
        "label": "Button CTA"
    },
      {
    "type": "image_picker",
        "id": "bottom_arrow",
        "label": "Bottom Arrow Icon"
        },

  {
    "type": "image_picker",
        "id": "button01",
        "label": "Button Image"
      },
  {
        "id": "link01",
        "type": "url",
        "label": "Button01 link"
      },

  {
    "type": "image_picker",
        "id": "button02",
        "label": "Button Image"
      },
  {
        "id": "link02",
        "type": "url",
        "label": "Button02 link"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button Text",
    "default": "Shop - "
  },
  {
    "type": "select",
    "id": "products",
    "label": "Products per row",
    "default": "2",
    "options": [
      {
        "value": "2",
        "label": "2"
      },
      {
        "value": "3",
        "label": "3"
      }
    ]
  },
  {
    "type": "select",
    "id": "rows",
    "label": "Rows per page",
    "default": "4",
    "options": [
      {
        "value": "2",
        "label": "2"
      },
      {
        "value": "3",
        "label": "3"
      },
      {
        "value": "4",
        "label": "4"
      },
      {
        "value": "5",
        "label": "5"
      },
      {
        "value": "6",
        "label": "6"
      }
    ]
  },
  {
    "type": "checkbox",
    "id": "product_tags_enable",
    "label": "Enable tag filtering"
  },
  {
    "type": "checkbox",
    "id": "product_sorting_enable",
    "label": "Enable collection sorting"
  },
  {
    "type": "header",
    "content": "Collection image"
  },
  {
    "type": "checkbox",
    "id": "collection_hero_image",
    "label": "Show collection image"
  },
  {
    "type": "checkbox",
    "id": "collection_hero_image_parallax",
    "label": "Show collection image parallax animation"
  },
  {
    "type": "header",
    "content": "Products"
  },
  {
    "type": "select",
    "id": "grid_style",
    "label": "Grid style",
    "default": "collage",
    "options": [
      {
        "value": "collage",
        "label": "Collage"
      },
      {
        "value": "grid",
        "label": "Grid"
      }
    ]
  },
  {
    "type": "checkbox",
    "id": "show_spacing",
    "label": "Enable image spacing"
  },
  {
    "type": "checkbox",
    "id": "show_vendor",
    "label": "Show product vendor",
    "default": true
  }

    ]
  }
{% endschema %}
