{% if section.settings.image != blank %}
  <style>
    #shopify-section-{{ section.id }} {
      max-width: 100%;
    }

    .hero--{{ section.id }} {
      background-position: {{ section.settings.alignment }};
    }

    .hero--{{ section.id }} h2 {
      margin: 0 auto;
      color: white;
    }

    .hero--{{ section.id }} .hero__inner {
      height: 800px;
    }
    
    .page-width.text-center {
      max-width: 750px;
    }

    @media only screen and (max-width: 768px) {
      .page-width.text-center {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    
    @media only screen and (max-width: 1024px) {
      .hero--{{ section.id }} .hero__inner {
        height: 500px;
        background-size: cover;
      }

    }
  </style>
{% endif %}

{% if section.settings.show_overlay %}
  <style>
    .hero--{{ section.id }}.hero__overlay::before {
      background-color: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity }};
    }

    .hero--{{ section.id }} .hero__overlay-title--overlay,
    .hero--{{ section.id }} .mega-subtitle {
      color: {{ section.settings.overlay_text }};
    }
  </style>
{% endif %}

<div class="hero hero--{{ section.id }} hero--{{ section.settings.hero_size }}{% if section.settings.show_overlay %} hero__overlay{% endif %} lazyload" data-bgset="{% include 'bgset', image: section.settings.image %}" data-section-id="{{ section.id }}" data-section-type="hero">
  <div class="hero__inner">
    <div class="page-width text-center">
      {% if section.settings.title != blank %}
        <h2 class="hero__overlay-title section-heading separator{% if section.settings.show_overlay %} hero__overlay-title--overlay{% endif %}{% if section.settings.text_size == 'large' %} h1{% endif %}" data-animate>{{ section.settings.title | escape }}</h2>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.use_second_button %} btn--secondary{% endif %} hero__btn">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Feature Card 1",
  "class": "index-section index-section--image-with-text-overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Image alignment",
      "default": "center center",
      "options": [
        {
          "label": "Top left",
          "value": "top left"
        },
        {
          "label": "Top center",
          "value": "top center"
        },
        {
          "label": "Top right",
          "value": "top right"
        },
        {
          "label": "Middle left",
          "value": "center left"
        },
        {
          "label": "Middle center",
          "value": "center center"
        },
        {
          "label": "Middle right",
          "value": "center right"
        },
        {
          "label": "Bottom left",
          "value": "bottom left"
        },
        {
          "label": "Bottom center",
          "value": "bottom center"
        },
        {
          "label": "Bottom right",
          "value": "bottom right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Talk about your brand"
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
