<style>
  #VideoSection--{{ section.id }} .video-section__cover-background {
    background-color: {{ section.settings.background_color }};
    background-position: {{ section.settings.cover_image_position }};
  }

  #VideoSection--{{ section.id }} .video-section__cover-text {
    color: {{ section.settings.cover_text_color }}
  }

  #VideoSection--{{ section.id }} .video-section__load-player-button-triangle {
    border-left-color: {{ section.settings.cover_text_color }}
  }

  #VideoSection--{{ section.id }} .video-section__load-player-button-circle {
    border-color: {{ section.settings.cover_text_color }}
  }
</style>

{% if section.settings.show_overlay %}
  <style>
    #VideoSection--{{ section.id }} .video-section__cover-text {
      color: {{ section.settings.overlay_text }};
    }

    #VideoSection--{{ section.id }} .video-section__load-player-button-triangle {
      border-left-color: {{ section.settings.overlay_text }};
    }

    #VideoSection--{{ section.id }} .video-section__load-player-button.animated .video-section__load-player-button-circle,
    #VideoSection--{{ section.id }} .video-section__load-player-button-circle {
      border-color: {{ section.settings.overlay_text }};
    }

    #VideoSection--{{ section.id }} .video-section__cover-overlay {
      background-color: {{ section.settings.overlay_color }};
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    }

    #shopify-section-{{ section.id }} {
      max-width: 100%;
    }

    .content-for-layout {
      padding-bottom: 0;
    }

    .video-section-container {
    	position: relative;
      padding-bottom: 103px;
    }

    .video-section {
    	position: relative;
    	z-index: 1;
    	margin-top: 0;
      height: 90vh;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .owl-carousel {
        position: relative;
        z-index: 5;
        top: -50px;
    }

    .owl-item {
    	text-align: center!important;
  	}

    .owl-dots {
      margin-top: 50px !important;
    }

    .help-icons {
      margin: 0 auto;
      position: relative;
      z-index: 5;
    }

    .help-icons .help-icon {
      width: 33.33%;
      text-align: center;
      float: left;
    }

    .help-icons .help-icon .help-icon-body {
      width: 200px;
      margin: 0 auto;
    }

    .help-icons .help-icon .help-icon-body .sliderIcon {
      width: 100px;
      height: 100px;
    }

    .help-icons .help-icon .help-icon-body .sliderIcon img {
      width: 75px !important;
      height: 75px !important;
      margin-top: 37.5px;
      padding-top: 0;
    }

    .help-icons .help-icon .help-icon-body .sliderText {
      margin: 0;
      margin-top: 10px;
    }

    .help-icons .help-icon-area {
/* 	  width: 33.33%;
      float: left; */
    }

    .help-icons .help-icon .help-icon-body .sliderText h4 {
      margin-bottom: 10px;
    }

    .sliderIcon {
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 100%;
      box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.15);
/*       margin-top: -45px; */
      background-color: #ffffff;
    }

    .sliderIcon > img {
      width: 50px!important;
      margin: auto;
      padding-top: 25%;
    }

    .sliderText {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 30px;
    }

    .sliderHeader {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      height: 180px;
    }

    .wiivv-grey {
    	color: #D6D6D6;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .video-section {
        height: 480px;
        background-size: cover;
        background-position: center center;
      }

      .video-section-container {
        padding-bottom: 50px;
      }

      .help-icon-container {
        padding: 0 45px;
      }

      .help-icons .help-icon {
/*         width: 18.1%; */
      }

      .video-section__cover-text {
        width: 500px;
        margin-bottom: 20px;
      }

      .video-caption {
        font-size: 16px !important;
      }
    }


    @media only screen and (min-width: 300px) and (max-width: 767px) {
      .video-section {
        height: 350px;
      }

      .item {
        max-width: 320px;
        margin: auto;
      }

      .video-section-container {
      	padding-bottom: 0;
      }

      .video-caption {
        font-size: 16px !important;
      }

    }

    @media only screen and (min-width: 1500px) {
      .video-section-container {

      }
    }

/* Styling for custom video modal */
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
  }

  .video-modal-button {
    display: block;
    margin: auto auto 10px;
  }

  .video-caption {
    color: white;
    font-family: Poppins;
    font-size: 24px;
  }

  .video-overlay {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999999;
  }

  .video-modal {
    background-color: transparent;
    height: auto;
    margin: auto;
    text-align: center;
    width: 90%;
    max-width: 800px;
  }

  .video-section__cover-content {
    top: 50%;
  }

  .video-modal iframe {
    width: 100%;
    max-width: 700px;
    height: 500px;
  }

  .video-outer-modal {
    height: auto;
    margin: auto;
    position: relative;
    width: 90%;
    max-width: 700px;
  }

  .video-close {
    display: block;
    position: absolute;
    right: -25px;
    top: -25px;
    background-color: transparent;
    border: none;
  }

  iframe {
    border-width: 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  @media only screen and (max-width: 500px) {
    .video-close {
      top: -50px;
    }

    .video-modal iframe {
      height: 250px;
    }

  }

/* End of custom video modal CSS */
  </style>
{% endif %}

<div class="video-overlay" style="opacity: 0; display: none;">
  <div class="video-outer-modal">
    <button class="video-close">
        <span>{{ 'sidebar-close-icon.png' | asset_url | img_tag }}</span>
      </button>
    <div class="video-modal">
    </div>
  </div>
</div>

<div class="video-section-container">
<div id="VideoSection--{{ section.id }}" class="video-section lazyload" data-section-id="{{ section.id }}" data-section-type="video-section" data-video-id="{{ section.settings.video_url.id }}" data-video-type="{{ section.settings.video_url.type }}" data-bgset="{% include 'bgset', image: section.settings.cover_image %}">
<!--   <div class="video-section__body-overlay"></div>
  <button class="btn btn--clear btn--square video-section__player-close">
    <span class="visually-hidden">{{ 'video.close' | t }}</span>
    {% include 'icon-close' %}
  </button>
  <div class="video-section__player"></div> -->
  <div class="video-section__cover">
    <div class="video-section__cover-background">
      {% if section.settings.cover_image == blank %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
    <div class="video-section__cover-content">
      {% if section.settings.cover_text != blank %}
        <h1 class="video-section__cover-text">{{ section.settings.cover_text }}</h1>
      {% endif %}
      <button class="video-modal-button btn btn--clear video-section__load-player-button" videoURL="{{ section.settings.video_url }}">
        <span class="visually-hidden">{{ 'video.play' | t }}</span>
        <div class="video-section__load-player-button-triangle"></div>
        <div class="video-section__load-player-button-circle"></div>
      </button>
      <div class="video-caption">Watch how it works</div>
      <p class="video-section__error"></p>
    </div>
  </div>
</div>
</div>


<!-- JS FOR OWL CAROUSEL  -->
<script>
  $(document).ready(function() {
    var owl = $('.owl-carousel');
    owl.owlCarousel({
    margin: 0,
    loop: true,
    responsive:{
        0:{
            items:1,
            dots:true
        },
        768:{
            items:3,
           dots:false
         }
    }
    })
  })
</script>

<!-- JS FOR VIDEO MODAL  -->
<script>
$(document).ready(function() {


  $(".video-modal-button").click(function() {
    //console.log("working");
    var videoLink = $(this).attr("videoURL");
    $(".video-overlay").fadeTo("fast", 1);
    $(".video-modal").html("<iframe src=" +"'"+ videoLink +"'"+ "frameborder='0' allow='autoplay; encrypted-media' allowfullscreen></iframe>");
    $("html, body").css({overflow: 'hidden'});
  });

  $(".video-close, .video-overlay").click(function() {
    $(".video-overlay").fadeTo("fast", 0, function() {
      // console.log("Done!");
      $("html, body").css({overflow: 'auto'});
      $(".video-overlay").hide();
      $(".video-modal").html(" ");
    });
  });

})
</script>


{% schema %}
{
  "name": "Top banner with video",
  "class": "index-section index-section--video",
  "settings": [
    {
      "type": "text",
      "id": "cover_text",
      "label": "Heading"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video link"
    },
    {
      "type": "header",
      "content": "Cover"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "cover_image_position",
      "label": "Image position",
      "default": "center center",
      "options": [
        {
          "label": "Top left",
          "value": "top left"
        },
        {
          "label": "Top center",
          "value": "top center"
        },
        {
          "label": "Top right",
          "value": "top right"
        },
        {
          "label": "Middle left",
          "value": "center left"
        },
        {
          "label": "Middle center",
          "value": "center center"
        },
        {
          "label": "Middle right",
          "value": "center right"
        },
        {
          "label": "Bottom left",
          "value": "bottom left"
        },
        {
          "label": "Bottom center",
          "value": "bottom center"
        },
        {
          "label": "Bottom right",
          "value": "bottom right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "overlay_text",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Opacity",
      "default": 30
    }
  ],
  "presets": [
    {
      "name": "Top banner with video",
      "category": "Video"
    }
  ]
}
{% endschema %}
