
<div class="desktop-features feature-image-wrapper" style="background-image: url({{ section.settings.featureImageOne | img_url : 'master' }})">
  <div class="caption-area one">
    <div>
      <h3>{{ section.settings.captionHeadingOne }}</h3>
      <h5>{{ section.settings.captionBodyOne }}</h5>
    </div>
  </div>
</div>



<div class="mobile-features">
  <div class="feature-block">
    <div class="mobile-feature-img" style="background-image: url({{ section.settings.featureImageOneMobile  | img_url : 'master' }}); background-position: right;"></div>
    <div class="mobile-feature-blurb mobile-wrapper">
      <h3>{{ section.settings.captionHeadingOne }}</h3>
      <h5>{{ section.settings.captionBodyOne }}</h5>  
    </div>
  </div>
</div>

<style>
  #shopify-section-header {
    border-bottom: 1px solid #A7A7A7;
  }

  .feature-image-wrapper {
    width: 1440px;
    height: 800px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .caption-area {
    max-width: 450px;
    position: absolute;
  }

  .caption-area.one {
    top: 150px;
    left: 100px;
  }

  .site-header__wrapper.pdp-header {
    background: white !important;
    border-bottom: 1px solid rgb(243,243,243) !important;
    height: 85px;
  }

  .site-header__wrapper.pdp-header a .white-icon {
    display: none !important;
  }

  .site-header__wrapper.pdp-header a .blue-icon {
    display: block !important;
  }

  .site-header__wrapper.pdp-header .site-header__logo-image {
    max-width: none;
  }

  .site-header__section--title .menu-itmes a:after {
    background: #004A97;
  }

  .site-header__section--title .menu-itmes a {
    color: rgb(0, 74, 151) !important;
  }
  
  .mobile-features {
    display: none;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    #shopify-section-{{ section.id }} .feature-image-wrapper {
      width: 100%;
      height: 430px;
    }

    #shopify-section-{{ section.id }} .caption-area.one {
      top: 50px;
      left: 45px;
      max-width: 320px;
    }
  }
  
  /* Mobile layout */  
  @media only screen and (max-width: 767px) {
    .desktop-features {
      display: none;
    }
    
    .mobile-features {
      display: block;
    }

    .slickslide, .slick-thumbs {
      display: none;
    }

    .mobile-features {
      background-color: #f3f3f3;
    }

    #shopify-section-{{ section.id }} {
      margin-top: 0!important;
    }

    .mobile-feature-img {
      height: 200px;
      width: 100%;
      background-size: cover;
    }

    .mobile-feature-blurb {
      margin: 10px auto 0 auto;
    }
    
    .mobile-feature-blurb > h5 {
      margin-bottom: 0;
    }

    .mobile-wrapper {
      margin-left: 20px;
      margin-right: 20px;
    }

    .padding-bottom-mobile {
      padding-bottom: 50px;
    }
  }
</style>

<script>
  $(document).ready(function() {
    $('.site-header__wrapper').addClass('pdp-header');
  });
</script>
{% schema %}
{
  "name": "Feature Product Card 1",
  "class": "index-section index-section--image-with-text-overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "featureImageOne",
      "label": "Feature Image"
    },
	{
      "type": "image_picker",
      "id": "featureImageOneMobile",
      "label": "Feature Image Mobile"
    },
    {
      "type": "text",
      "id": "captionHeadingOne",
      "label": "Caption Heading",
      "default": "Talk about your brand"
    },
    {
      "type": "text",
      "id": "captionBodyOne",
      "label": "Caption Body",
      "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
    }
  ],
  "presets": [
    {
      "name": "Feature Product Card 1",
      "category": "Image"
    }
  ]
}
{% endschema %}
